In [ ]:
#QUESTION 1 SOLUTION

In [7]:
Marks = int(input("Enter the marks "))
if Marks>90:
    print("A")
elif Marks>80 and Marks<=90:
    print("B")
elif Marks>=60 and Marks<=80:
    print("C")
else:
    print("D")

Enter the marks  78

C

In [9]:
Marks

78

In [ ]:
# QUESTION 2 SOLUTION

In [11]:
Tax = 0 
Price = int(input("Enter the price: "))
if Price>100000:
    Tax = 15/100*Price
    print("tax payable" , Tax)
elif Price>50000 and Price<=100000:
    Tax = 10/100*Price
    print("tax payable" , Tax)
else:
    Tax = 5/100*Price
    print("tax payable" , Tax)

Enter the price:  100000

tax payable 10000.0

In [ ]:
# question 3 solution

In [32]:
City = input("Enter the city name: ")
if City=="Delhi":
    print("Red fort")
elif City=="Agra":
    print("Taj MAHAL")
elif City=="Jaipur":
    print("Jal mahal")
else:
    print("no result found")

Enter the city name:  Delhi

Red fort

In [1]:
# question 4 
# check how many times a given number can be divided by 3 before it is less than or equal to 10

In [4]:
x= int(input('enter the value: '))
q=0
a=x
if a > 10 : 
    while a > 10 : 
        a=a/3
        q=q+1
    print(x," is divisible by ",q," time by 3")
else : 
    print("value should be greater than 10")

enter the value:  12

12  is divisible by  1  time by 3

In [2]:
#question 7 and 8

i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 5. why and when to use while loop in python give a detailed description and example. 

#answer : When should you use a while loop?
#A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met. 
#For example, if we want to ask a user for a number between 1 and 10,
#we don't know how many times the user may enter a larger number, so we keep asking "while the number is not between 1 and 10

In [1]:
#while loop example
n = int(input("enter your number"))
i=1

while i <=20 :
    result = n *i
    print(n,"*",i,"=",result)
    i= i+1

enter your number 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [ ]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*")
        j=j+1
    print()
    i=i+1

In [ ]:
# the same code is running in the new sheet but not on this one. some error in lab